@model AdministratorNegotiating.Models.Meeting

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-btn" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Удаление</h4>
        </div>
        <!-- Основное содержимое модального окна -->
        <div class="modal-body">
            Вы уверены что хотите удалить встречу @Model.NameOfMeeting?
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer">
            @using (Ajax.BeginForm("Delete", "Meetings", new AjaxOptions { UpdateTargetId = "tables" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=>x.Id)
                <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Закрыть</button>
                <input type="submit" class="btn btn-primary" value="Ок"/>
            }            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".close-btn").click(function () {
            $("#myModalBox").fadeOut();
        });
    });
</script>